In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import joblib

In [3]:
DATA_PATH = 'data/data_mentah.xlsx'
TRAIN_PATH = 'data/data_train.csv'
TEST_PATH = 'data/data_test.csv'
SCALER_PATH = 'data/scaler.pkl'
TARGET_ENCODER_PATH = 'data/target_encoder.pkl'

In [4]:
df = pd.read_excel(DATA_PATH)
# Hapus kolom ID karena tidak diperlukan
if 'ID' in df.columns:
    df.drop(columns=['ID'], inplace=True)

# Menentukan kolom target dalam hal ini kolom kelayakan
target_column = 'KELAYAKAN'
# Pisahkan target
y = df[target_column]
x = df.drop(columns=[target_column])

ENCODING FITUR KATEGORIKAL

In [5]:
# Encode target (Layak = 1, Tidak Layak = 0)
target_encoder = LabelEncoder()
y_encoded = target_encoder.fit_transform(y)
joblib.dump(target_encoder, TARGET_ENCODER_PATH)

['data/target_encoder.pkl']

In [ ]:
# Mapping hasil encoding untuk melihat hasilnya
df['KELAYAKAN_ENCODED'] = target_encoder.fit_transform(df['KELAYAKAN'])

# Tampilkan hasil
display(df[['KELAYAKAN', 'KELAYAKAN_ENCODED']].drop_duplicates())  # untuk lihat mapping
df.tail() # untuk lihat hasil pada data

     KELAYAKAN  KELAYAKAN_ENCODED
0  Tidak Layak                  1
8        Layak                  0

,PEKERJAAN,PENGHASILAN,TANGGUNGAN,USIA,BESAR PINJAMAN,TENOR,DP PRESENTASE,JAMINAN,JENIS KREDIT,STATUS KEPEMILIKAN RUMAH,RIWAYAT KREDIT,KELAYAKAN,KELAYAKAN_ENCODED
561,Dokter,3500000,0,32,13000000,48,15,BPKB Mobil,Kredit Motor,Sewa,Tidak Ada,Tidak Layak,1
562,Swasta,4300000,1,38,18000000,36,20,BPKB Motor,Kredit Motor,Keluarga,Cukup,Layak,0
563,Wiraswasta,5100000,2,44,21000000,24,30,Sertifikat Tanah,Multiguna,Milik Sendiri,Baik,Layak,0
564,Guru,6900000,3,50,30000000,24,35,BPKB Motor,Kredit Mobil,Milik Sendiri,Baik,Layak,0
565,Mahasiswa,4000000,1,36,16000000,36,20,BPKB Motor,Kredit Motor,Sewa,Cukup,Tidak Layak,1

In [11]:
# One-hot encoding kolom kategorikal
# Menentukan kolom numerik dan kategorikal
numeric_features = ['PENGHASILAN', 'TANGGUNGAN', 'USIA', 'BESAR PINJAMAN', 'TENOR', 'DP PRESENTASE'] # numerik
categorical_features = ['PEKERJAAN', 'JAMINAN', 'JENIS KREDIT', 'STATUS KEPEMILIKAN RUMAH', 'RIWAYAT KREDIT'] # kategorikal

 # One-hot encoding untuk kolom kategorikal
X_encoded = pd.get_dummies(x, columns=categorical_features)

In [ ]:
# Menampilkan hasil one-hot encoding pada kolom kategorikal
X_encoded.head()

,PENGHASILAN,TANGGUNGAN,USIA,BESAR PINJAMAN,TENOR,DP PRESENTASE,PEKERJAAN_Dokter,PEKERJAAN_Guru,PEKERJAAN_Karyawan Swasta,PEKERJAAN_Mahasiswa,...,STATUS KEPEMILIKAN RUMAH_Kontrak,STATUS KEPEMILIKAN RUMAH_Kost,STATUS KEPEMILIKAN RUMAH_Milik,STATUS KEPEMILIKAN RUMAH_Milik Sendiri,STATUS KEPEMILIKAN RUMAH_Sewa,STATUS KEPEMILIKAN RUMAH_Tinggal dengan Orang Tua,RIWAYAT KREDIT_Baik,RIWAYAT KREDIT_Buruk,RIWAYAT KREDIT_Cukup,RIWAYAT KREDIT_Tidak Ada
0,2150371,0,60,206404717,36,15,False,False,True,False,...,False,False,False,False,False,True,False,False,True,False
1,2279157,4,48,245194497,36,28,False,False,True,False,...,True,False,False,False,False,False,False,False,True,False
2,2537274,2,46,110253960,60,14,False,False,True,False,...,True,False,False,False,False,False,True,False,False,False
3,2580506,1,46,273314183,24,21,False,False,True,False,...,True,False,False,False,False,False,True,False,False,False
4,2684687,3,42,296268817,60,38,False,False,True,False,...,False,False,False,True,False,False,True,False,False,False

NORMALISASI KOLOM NUMERIK

In [13]:
scaler = StandardScaler()
X_encoded[numeric_features] = scaler.fit_transform(X_encoded[numeric_features])
joblib.dump(scaler, SCALER_PATH)

['data/scaler.pkl']

In [14]:
X_encoded.head()

,PENGHASILAN,TANGGUNGAN,USIA,BESAR PINJAMAN,TENOR,DP PRESENTASE,PEKERJAAN_Dokter,PEKERJAAN_Guru,PEKERJAAN_Karyawan Swasta,PEKERJAAN_Mahasiswa,...,STATUS KEPEMILIKAN RUMAH_Kontrak,STATUS KEPEMILIKAN RUMAH_Kost,STATUS KEPEMILIKAN RUMAH_Milik,STATUS KEPEMILIKAN RUMAH_Milik Sendiri,STATUS KEPEMILIKAN RUMAH_Sewa,STATUS KEPEMILIKAN RUMAH_Tinggal dengan Orang Tua,RIWAYAT KREDIT_Baik,RIWAYAT KREDIT_Buruk,RIWAYAT KREDIT_Cukup,RIWAYAT KREDIT_Tidak Ada
0,-1.372613,-1.445154,2.164164,1.382395,0.235592,-1.150366,False,False,True,False,...,False,False,False,False,False,True,False,False,True,False
1,-1.335674,1.327582,0.956755,1.826001,0.235592,0.064038,False,False,True,False,...,True,False,False,False,False,False,False,False,True,False
2,-1.261640,-0.058786,0.755520,0.282800,1.804359,-1.243782,False,False,True,False,...,True,False,False,False,False,False,True,False,False,False
3,-1.249240,-0.751970,0.755520,2.147582,-0.548791,-0.589872,False,False,True,False,...,True,False,False,False,False,False,True,False,False,False
4,-1.219359,0.634398,0.353050,2.410095,1.804359,0.998194,False,False,True,False,...,False,False,False,True,False,False,True,False,False,False

PEMBAGIAN DATA

In [15]:
X_train, X_test, y_train, y_test = train_test_split(
    X_encoded, y_encoded, test_size=0.2, random_state=42
)

# Tampilkan ukuran data
print("Ukuran data latih:", X_train.shape)
print("Ukuran data uji:", X_test.shape)

Ukuran data latih: (452, 39)
Ukuran data uji: (114, 39)

MENYIMPAN DATA LATIH DAN UJI

In [16]:
# Data Latih
train_df = pd.DataFrame(X_train)
train_df['target'] = y_train
train_df.to_csv(TRAIN_PATH, index=False)

# Data Uji
test_df = pd.DataFrame(X_test)
test_df['target'] = y_test
test_df.to_csv(TEST_PATH, index=False)